<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turf Booked</title>
</head>
<body>
    <table>
        <tr>
          <th>Turf Name</th>
          <th>User</th>
          <th>Price</th>
          <th>Timeslot</th>
          <th>Date</th>
        </tr>
        {% for turf in turf_booked %}
        <tr>
          <td>{{turf.turf_profile}}</td>
          <td>{{turf.user}}</td>
          <td>{{turf.turf_price}}</td>
          <td>{{turf.turf_timeslot}}</td>
          <td>{{turf.turf_date}}</td>
        </tr>
        {% endfor %}
      </table>
</body>
</html>